.searchBar {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 10%;
    background-color: #2196F3;
}

.inputContainer {
    padding: 5% 5% 5% 5%;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.inputContainer input {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    color: #fff;
    font-size: 15px;
    font-family: Roboto Condensed;
    border-bottom: 2px solid white;
    background-color: transparent;
}

.inputContainer input:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: #fff;
    font-size: 15px;
    font-family: Roboto Condensed;
}

.container {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 90%;

    /* ADD STYLE TO THE SCROLL */
    overflow: scroll; 
}

.addBtn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 9vh;
    height: 9vh;

    padding: 0 0 0 0;

    border-radius: 100%;
    background-color: #4CAF50;
}

.addBtn:active {
    background-color: #81C784;
}